:root {
    --padding: 10px;
    --text-color: whitesmoke;
    --font-family: 'Nanum Gothic', sans-serif;
    --border: 2px double hsla(168, 4%, 78%, 0.74);
    --background-color: #f9d5bb;
    --container-background-color: hsla(0, 9%, 33%, 0.801);
    --button-background-color: hsla(0, 59%, 58%, 0.74);
}

body {
    background-image: url(../images/typewriter.jpg);
    color: var(--text-color);    
    font-family: var(--font-family);
    background-color: var(--background-color);
   
}
.flex-container {
    display: flex;
    flex-direction: column; 
    border: var(--border);
    background-color: var(--container-background-color);
    color: var(--text-color);
}

.flex-item {
    padding: var(--padding);
}

.flex-container--radioButtons {
    display: flex;
    font-weight: bold;
    border: var(--border);
    background-color: var(--container-background-color);
    color: var(--text-color);
}

.radioButtons {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.inputRadio {
    padding: var(--padding);
    align-items: center;
}

.radioLabel {
    padding: 7px;
}

.inputLabel {
    display: block;
    font-size: 20px;
    font-weight: bold;  
}


textarea {
    display: block;
    width: 20%;
}

.entryLog {
    border: var(--border);
    background-color: var(--container-background-color);
    color: var(--text-color);
    height: 100vh;
    overflow-y: scroll;
    margin: 5px;
    
}

.submitButton, .saveButton  {
    background-color: var(--button-background-color);
    margin: 10px;
    padding: var(--padding);
    border-radius: 5px;
    box-shadow: 5px 5px 5px;
}




